<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lcoworkoutapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OnBoardActivity"
            android:theme="@style/Fullscreen">

        </activity>
        <activity
            android:name=".FlashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GymTraineeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".personalizedExerciseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ResultActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Bmi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dietplan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".checksongs"
            android:label="Check song here"
            android:roundIcon="@drawable/ic_music_note_black_24dp"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".startworkout" />
        <activity
            android:name=".selectsongs"
            android:icon="@drawable/ic_music_note_black_24dp"
            android:label=" Select songs"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".dailyworkoutreal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".daywiseworkout"
            android:label="Daily Workouts"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".randomworkoutreal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".randomWorkout"
            android:label="Random Workouts"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>